---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Navigation from '../components/Navigation.astro';
import SectionLinks from '../components/SectionLinks.astro';
import Services from '../components/Services.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Alex Chen - Software & AI Engineer">
	<Navigation />
	<main>
		<Hero />
		<Projects />
		<Services />
		<Skills />
		<!-- <Experience /> -->
		<Contact />
	</main>
</Layout>
